body{
    text-align:center;

}

.btn{
    height:200px;
    width:200px;
    border-radius: 20%;
    border:10px solid black;
    margin:1.5rem;
}

.container{
    display:flex;
    justify-content: center;
}

.red{
    background-color: rgb(235, 69, 69);
}
.green{
    background-color: rgb(28, 171, 131);
}
.yellow{
    background-color: rgb(240, 166, 61);
}
.purple{
    background-color: rgb(175, 139, 229);
}

.flash{
    background-color: white;
}

.userflash{
    background-color: green;
}